<div class="container">



  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">User Details</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="detail.assigned ;else other_content">
            <p class = "ok"><span class="glyphicon glyphicon-ok"></span>The user has been assigned.</p>
          </div>
          <ng-template #other_content>
            <p class = "remove"><span class="glyphicon glyphicon-remove"></span>The user has not been assigned.</p>
          </ng-template>
          <figure>
          <img src="{{detail.picture.large}}">
            <figcaption>{{detail.name.first}} {{detail.name.last}}</figcaption>
          </figure>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container1">
    <div class="btn-group">
      <input id="searchinput" type="search" class="form-control" [value]="searchText" (input)="searchText = $event.target.value" placeholder="Search..." >
      <span id="searchclear" class="glyphicon glyphicon-remove-circle" (click)="clearSearch()"></span>
    </div>
    <button class="btn btn-info" (click) = "switchToAll()">All Users</button>
    <button class="btn btn-success" (click)="switchToAssigned()">Assigned Users</button>
  </div>
  <div class="container" *ngIf="current_page === 'all'; else assigned_page">
    <div class="col-lg-2 col-md-2 col-xs-1" *ngFor="let user of users | filter : searchText">
        <figure>
        <img class="img-fluid img-thumbnail" src="{{user.picture.thumbnail}}">
          <figcaption>{{user.name.first}} {{user.name.last}}</figcaption>
        </figure>
        <div>
          <button type="button" class="btn btn-success" [ngClass]="{disabled : user.assigned}" (click)="!user.assigned && assign(user)">Assign</button>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" (click)="details(user)">Details</button>
        </div>
      <br/><br/>
    </div>
  </div>
</div>

<ng-template #assigned_page>
  <div class="container">
    <div class="col-lg-2 col-md-2 col-xs-1" *ngFor="let user of assignedUsers | filter : searchText">
      <figure>
        <img class="img-fluid img-thumbnail" src="{{user.picture.thumbnail}}">
        <figcaption>{{user.name.first}} {{user.name.last}}</figcaption>
      </figure>
      <div>
        <button type="button" class="btn btn-success" [ngClass]="{disabled : user.assigned}" (click)="!user.assigned && assign(user)">Assign</button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" (click)="details(user)">Details</button>
      </div>
      <br/><br/>
    </div>
  </div>
</ng-template>
